    <!-- About Section -->
    <section id="getstarted" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Get Started</h2>
              <br/>
                <p>1、git clone</p>
                <pre>git clone https://github.com/TrustNoteDevelopers/RPC.git
                </pre>
                <p>2、install</p>
                <pre>cd RPC</pre>
                <pre>npm install</pre>
                <p>3、init</p>
                <pre>npm run init</pre>
                <p>4、run</p>
                <pre>npm run rpc</pre>
                <br/>
              </div>
        </div>
    </section>
